body{
  padding: 0px;
  margin: 0px;
 background-color: rgba(232, 232, 225, 0.85);

}
.parent{
 display: flex;
 justify-content: center;
}
.parent2
{
  display: flex;
 justify-content: center;
}
.parent3
{
  background-color: white;
  display: flex;
  justify-content: center;
}
.team-section-parent
{
  display: flex;
  background-color: white;
  justify-content: center;
}
.team-text
{
  padding-left: 12%;
  width: 75%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.team{
  box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.294);
  margin-bottom: 20px;
  transition: transform .2s;
  height: 400px;
}
.team:hover
{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1); 
}
.child3
{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-around;
  height: 900px;
  text-align: center;
  width: 75%;
}
.child
{
  height: 500px;
  text-align: center;
  width: 75%;
  background-size: 100%;
  background-image: url('../about-images/company.jpeg');
  background-color: rgba(28, 27, 27, 0.26);
  background-blend-mode: color-burn;
  object-fit: cover;
  background-position: center;
  transition: background-size 15s;
}
.child:hover
{
  background-size: 120%;
}
.text-head
{
  position: absolute;
  top: 45%;
  padding-left: 30px;
  font-size: 2cm;
  font-family: 'Montserrat';
  font-weight: 1000;
  color: white;
}
.mynav
{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  filter: brightness(100%);
  
}
.nav-buttons
{
  display: flex;
  justify-content: center;

}
.navigations
{
   display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  border-bottom: 2px solid white;
  height: 50px;
}
.button1
{
  color: white;
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  width: 100px;
}
.button2
{
  color: white;
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  width: 100px;

}
.button3
{
  color: white;
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  width: 100px;
}
a.button1:hover, a.button1:active {
  font-size: 150%;
}
a.button2:hover, a.button2:active {
  font-size: 150%;
}
a.button3:hover, a.button3:active {
  font-size: 150%;
}
.logo
{
  height: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}
.logo img{
  
  width: 100px;
}
.about
{
  width: 75%;
}
.about p
{
  font-family: 'Montserrat';
  color:rgba(0, 0, 0, 0.787);
}
.punch
{
  padding-left: 30%;
}
.team1
{
  width: 250px;
}
.team2
{
  width: 250px;
}
.team3
{
  width: 250px;
}
.team4
{
  width: 250px;
}
.team5
{
  width: 250px;
}
.mem-pic img
{
  height: 100%;
  
  object-fit: cover;
}
.mem-content
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 10px;
}
.mem-pic
{
  height: 60%;
}
.team-text
{
  width: 100%;
  font-weight: 1000;
  color: black;
  font-size: 30px;
}
.mem-content a{
  text-decoration: none;
  color: rgba(33, 33, 166, 0.784);
}
.mem-content h1{
  color: rgba(0, 0, 0, 0.564);
}


.footer-section{
  background-color: #132027;
  border: 2px solid #FDFDFF;
}

.footer-div{
  display: grid;
}

.footer-inner-div {
  height: 300px;
  color: #FDFDFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.social-box{
  width: 100%;
  display: flex;
  justify-content: space-between !important;
}

.footer-logo img{
  height: 80px;
}

.footer-links{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.footer-link{
  color: #FDFDFF !important;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-link:hover{
  text-decoration: none;
  color: #62929E !important;
}

.social-logo{
  height: 24px;
}

.contact-label{
  display: flex;
  justify-content:start;
  align-items: flex-start;
  margin-bottom: 6px;
}

.contact-label img{
  margin-right: 10px;
  height: 20px;
}

.contact-label p{
  margin: 0px;
}

.location-label img{
  height: 20px;
}

.footer-div-4 p{
  margin: 0;
}


@media (min-width: 800px) { 
  .footer-div{ grid-template-columns: repeat(4, 1fr); }
} 

@media (max-width: 800px) {
  .footer-div-2{display: none;}
  
  .footer-div{ grid-template-columns: repeat(3, 1fr); }
} 

@media (max-width: 700px){
  .footer-inner-div{height: 180px;}
  .footer-div-2{display: none;}
  .footer-div-4{display: none;}
  .social-box{display:none;}
  .footer-div{ grid-template-columns: repeat(2, 1fr); }
}
