/* nav***************************************************************************************************************** */

.hero-section{
    height: 70px;
    background-color: #132027;
}

.navbar-holder{  
    display: flex;
    justify-content: center;
    padding: 0px 14px;
}

.navbar-container{
    display: flex;
    width: 300px;
    border-bottom: 2px solid #FDFDFF;
}

.navbar-logo-div{
    height: 70px;
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}

.navbar-logo-div img{
    height: 50px;
    
    transition: filter 0.5s;
}

.navbar-logo-div img:hover{
    filter: brightness(60%);
}

.navbar-buttons{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-buttons a{
    font-size: 14px;
    color: #FDFDFF;
    text-decoration: none;

    transition: color 0.5s;
}

.navbar-buttons a:hover{
    color: #62929E;
    text-decoration: none;
}

@media (min-width: 400px) {
    .navbar-container{ width: 400px; }
    .navbar-buttons a{
        font-size: 18px;}
}

/* Filter section ******************************************************************************************************** */

.filter-section{
    margin-top: 30px;
    height: 160px;
}

.filter-section #company ,#model{
    width: 310px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 4px 8px;
    letter-spacing: 1px;
    outline: none;
    display: inline-block;
}

.filter-section #search{
    width: 310px;
    font-size: 18px;
    padding: 4px 8px;
    letter-spacing: 1px;
    background-color: #62929e00;
    border: 2px solid #62929E;
    color: #62929E;

    transition: background-color 0.5s;
}

.filter-section #search:hover{
    cursor: pointer;
    color: #FDFDFF;
    background-color: #62929E;
}

/* Ads ******************************************************************************************************************* */

.ads{   
    padding: 40px 100px;
}

.ads-heading h2{
    color: #62929E;
    padding: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.ad{
    border-top: 2px solid #132027;
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ad-image-container img{
    width: 360px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 16px 0px;
}

.specs-points-container{
    margin-top: 30px;
}

.specs-points-container p{
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: 4px solid #62929E;
}

.buy-button-div input{
    margin-top: 30px;
    padding: 10px 40px;
    font-size: 18px;
    background-color: #62929e00;
    border: 2px solid #62929E;
    color: #62929E;

    transition: background-color 0.5s;
}

.buy-button-div input:hover{
    cursor: pointer;
    color: #FDFDFF;
    background-color: #62929E;
}

@media (max-width: 1400px) {
    .ad-image-container img{
        width: 560px;
    }
    .ad{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 760px) {
    .ads{   
        padding: 30px 20px;
    }
    .ad-image-container img{
        width: 300px;
    }
    .ad{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 360px) {
    .ads{   
        padding: 20px 10px;
    }
    .ad-image-container img{
        width: 260px;
    }

    .ad{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* footer***************************************************************************************************************** */

.footer-section{
    width: 100%;
    background-color: #132027;
}

.footer-div{
    display: grid;
}

.footer-inner-div {
    height: 300px;
    color: #FDFDFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.social-box{
    width: 100%;
    display: flex;
    justify-content: space-between !important;
}

.footer-logo img{
    height: 80px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.footer-link{
    color: #FDFDFF !important;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-link:hover{
    text-decoration: none;
    color: #62929E !important;
}

.social-logo{
    height: 24px;
}

.contact-label{
    display: flex;
    justify-content:start;
    align-items: flex-start;
    margin-bottom: 6px;
}

.contact-label img{
    margin-right: 10px;
    height: 20px;
}

.contact-label p{
    margin: 0px;
}

.location-label img{
    height: 20px;
}

.footer-div-4 p{
    margin: 0;
}


@media (min-width: 800px) { 
    .footer-div{ grid-template-columns: repeat(4, 1fr); }
} 

@media (max-width: 800px) {
    .footer-div-2{display: none;}
    
    .footer-div{ grid-template-columns: repeat(3, 1fr); }
} 

@media (max-width: 700px){
    .footer-inner-div{height: 180px;}
    .footer-div-2{display: none;}
    .footer-div-4{display: none;}
    .social-box{display:none;}
    .footer-div{ grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 500px){
    .footer-inner-div{height: 180px;}
    .footer-div-2{display: none;}
    .footer-div-4{display: none;}
    .social-box{display:none;}
    .footer-div{ grid-template-columns: repeat(1, 1fr); }
}
