/* nav***************************************************************************************************************** */

.hero-section{
    height: 70px;
    background-color: #132027;
}

.navbar-holder{  
    display: flex;
    justify-content: center;
    padding: 0px 14px;
}

.navbar-container{
    display: flex;
    width: 300px;
    border-bottom: 2px solid #FDFDFF;
}

.navbar-logo-div{
    height: 70px;
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}

.navbar-logo-div img{
    height: 50px;
    
    transition: filter 0.5s;
}

.navbar-logo-div img:hover{
    filter: brightness(60%);
}

.navbar-buttons{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-buttons a{
    font-size: 14px;
    color: #FDFDFF;
    text-decoration: none;

    transition: color 0.5s;
}

.navbar-buttons a:hover{
    color: #62929E;
    text-decoration: none;
}

@media (min-width: 400px) {
    .navbar-container{ width: 400px; }
    .navbar-buttons a{
        font-size: 18px;}
}

/* Ad section ******************************************************************************************************************* */

.ad-container{
    padding: 30px 0px;
    height: 56%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.image-container img{
    width: 94%;
    height: 86%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 16px 0px;
}

.details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.car-details, .seller-info-and-button{
    margin: 8px 20px;
}

.seller-heading .car-heading{
    margin: 0;
}

.spec, .seller-info{
    padding-left: 10px;
    border-left: 4px solid #62929E;
    margin-bottom: 0px;
    margin-top: 24px;
}

.cars-page-button{
    color: #62929E;
}

.cars-page-button:hover{
    color: #62929E;
    text-decoration: none;
}

.cars-page-button-div{
    background-color: #62929e00;
    padding: 6px;
    margin-top: 200px;
    height: 40px;
    border: 2px solid #62929E;

    transition: background-color 0.5s, color;
}

.cars-page-button-div:hover{
    background-color: #62929E;
    color: #FDFDFF;
}

.cars-page-button-div p{
    margin: 0px;
    font-size: 22px;
    letter-spacing: 1px;
}

@media (max-width: 1060px) {
    .car-details, .seller-info-and-button{
        margin: 10px 30px;
    }
    .ad-container{
        height: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 600px) {
    .car-details, .seller-info-and-button{
        margin: 20px 30px;
    }
    .cars-page-button-div{
        margin-top: 30px;
    }
    .images{
        grid-template-columns: repeat(1, 1fr);
    }
    .details{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* footer***************************************************************************************************************** */

.footer-section{
    width: 100%;
    background-color: #132027;
}

.footer-div{
    display: grid;
}

.footer-inner-div {
    height: 300px;
    color: #FDFDFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.social-box{
    width: 100%;
    display: flex;
    justify-content: space-between !important;
}

.footer-logo img{
    height: 80px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.footer-link{
    color: #FDFDFF !important;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-link:hover{
    text-decoration: none;
    color: #62929E !important;
}

.social-logo{
    height: 24px;
}

.contact-label{
    display: flex;
    justify-content:start;
    align-items: flex-start;
    margin-bottom: 6px;
}

.contact-label img{
    margin-right: 10px;
    height: 20px;
}

.contact-label p{
    margin: 0px;
}

.location-label img{
    height: 20px;
}

.footer-div-4 p{
    margin: 0;
}


@media (min-width: 800px) { 
    .footer-div{ grid-template-columns: repeat(4, 1fr); }
} 

@media (max-width: 800px) {
    .footer-div-2{display: none;}
    
    .footer-div{ grid-template-columns: repeat(3, 1fr); }
} 

@media (max-width: 700px){
    .footer-inner-div{height: 180px;}
    .footer-div-2{display: none;}
    .footer-div-4{display: none;}
    .social-box{display:none;}
    .footer-div{ grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 500px){
    .footer-inner-div{height: 180px;}
    .footer-div-2{display: none;}
    .footer-div-4{display: none;}
    .social-box{display:none;}
    .footer-div{ grid-template-columns: repeat(1, 1fr); }
}
