/* Hero***************************************************************************************************************** */
.carousel-item img{
    height: 700px;
    object-fit: cover;
}

.hero-container{
    width: 100% !important;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: absolute;
    color: #FDFDFF;
    z-index: 1;
}

    /* nav***************************************************************************************************************** */

.navbar-holder{  
    display: flex;
    justify-content: center;
}

.navbar-container{
    display: flex;
    width: 300px;
    border-bottom: 2px solid #FDFDFF;
}

.navbar-logo-div{
    height: 70px;
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}

.navbar-logo-div img{
    height: 50px;

    transition: filter 0.5s;
}

.navbar-logo-div img:hover{
    filter: brightness(60%);
}

.navbar-buttons{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-buttons a{
    font-size: 16px;
    color: #FDFDFF;
    text-decoration: none;

    transition: color 0.5s;
}

.navbar-buttons a:hover{
    color: #62929E;
    text-decoration: none;
}

@media (min-width: 440px) {
    .navbar-container{ width: 400px; }
    .navbar-buttons a{
        font-size: 18px;}
}

.hero-content{
    top: 100px;
    left: 50px;
}

.dashboard-buttons-container{
    display: grid;
}

.welcome{
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.slideshow-heading-1{
    font-size: 24px;
}

.slideshow-heading-2{
    font-size: 36px;
    letter-spacing: 1px;
}

.dashboard-button{
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dashboard-button h2{
    font-size: 28px;
}

.cars-store-div{
    height: 140px;
    width: 300px;
    border-top: 2px solid #FDFDFF;
    border-bottom: 2px solid #FDFDFF;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.post-car-div{
    height: 140px;
    width: 300px;
    border-top: 2px solid #FDFDFF;
    border-bottom: 2px solid #FDFDFF;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dashboard-button-link{
    margin-top: 10px;
    color: #FDFDFF !important;
    font-size: 18px;
    padding: 10px 30px;
    border-top:2px solid #FDFDFF;
    border-bottom:2px solid #FDFDFF;
    border-radius: 12px;

    transition: padding 0.5s;
}

.dashboard-button-link:hover{
    padding: 10px 40px;
    text-decoration: none;
}

@media (min-width: 750px) {
    .dashboard-buttons-container{ grid-template-columns: repeat(2, 1fr); }
}

/* about***************************************************************************************************************** */

.about-section{   
    margin: 30px;
    border: 2px solid #cfd9df;
    border-radius: 30px;

    display: flex;
    justify-content:center;
    align-items: center;
}

.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.about-container .left{
    height: 280px;
    text-align: right;
}

.about-container .right{
    height: 280px;
}

.about-headings{
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.about-left-heading{
    color: #62929E;
}

.about-right-heading{
    color: #393D3F;
}


.about-left-points{
    height: 200;
    color: #393D3F;
}

.about-left-point{
    margin: 0;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.about-right-points{
    height: 200;
    color: #62929E;
}

@media (max-width: 800px) {
    .about-container{ grid-template-columns: repeat(1, 1fr); }
}

/* Ads ******************************************************************************************************************* */

.ads-heading h2{
    background-color: #393D3F;
    border: 2px solid #fdfdff;
    color: #FDFDFF;
    margin: 0;
    padding: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.ads-container{
    padding: 10px 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px;
}

.ad{
    padding: 26px;
    border-right: 2px solid #1320275e;
}

.car-data{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.ad-image{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.ad-image img{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 16px 0px;
    height: 220px;
    width: 100%;
    object-fit: cover;
}

.specs{
    margin-top: 20px;
}

.specs p{
    padding-left: 10px;
    border-left: 4px solid #62929E;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.buy-button-div input{
    margin-top: 10px;
    padding: 6px 30px;
    font-size: 18px;
    background-color: #62929e00;
    border: 2px solid #62929E;
    color: #62929E;

    transition: background-color 0.5s;
}

.buy-button-div input:hover{
    cursor: pointer;
    color: #FDFDFF;
    background-color: #62929E;
}

/* brands***************************************************************************************************************** */

.brands-section-heading{
    text-align: center;
    background-color: #393D3F;
    color: #FDFDFF;
    margin: 0;
    padding: 20px;
    border: 2px solid #fdfdff;
}

.brands-section-heading-2{
    color: rgba(245, 222, 179, 0);
    background-image: linear-gradient(  #191515,#62929E);
}

.brands-cards {
    display: grid;
}

.brand-card{
    color: #FDFDFF;
    height: 200px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #fdfdff;
}

.brand-card:hover{
    color: #FDFDFF;
    text-decoration: none;
}

.toyota-card{
    background-image: url('../images/home-brands/toyota.jpeg');
    background-size: 100%;
    background-position: center;

    transition: background-size 10s;
}

.toyota-card:hover{
    background-size: 200%;
}

.havel-card{
    background-image: url('../images/home-brands/haval.jpeg');
    background-size: 100%;
    background-position: center;

    transition: background-size 10s;
}

.havel-card:hover{
    background-size: 200%;
}

.honda-card{
    background-image: url('../images/home-brands/honda.jpeg');
    background-size: 100%;
    background-position: center;

    transition: background-size 10s;
}

.honda-card:hover{
    background-size: 200%;
}

.hyundai-card{
    background-image: url('../images/home-brands/hyundai.jpeg');
    background-size: 100%;
    background-position: center;

    transition: background-size 10s;
}

.hyundai-card:hover{
    background-size: 200%;
}

.KIA-card{
    background-image: url('../images/home-brands/KIA.jpeg');
    background-size: 100%;
    background-position: center;

    transition: background-size 10s;
}

.KIA-card:hover{
    background-size: 200%;
}

.MG-card{
    background-image: url('../images/home-brands/mg.jpeg');
    background-size: 100%;
    background-position: center;

    transition: background-size 10s;
}

.peugeot-card:hover{
    background-size: 200%;
}

.peugeot-card{
    background-image: url('../images/home-brands/peugeot.jpeg');
    background-size: 100%;
    background-position: center;

    transition: background-size 10s;
}

.MG-card:hover{
    background-size: 200%;
}

.suzuki-card{
    background-image: url('../images/home-brands/suzuki.jpeg');
    background-size: 100%;
    background-position: center;

    transition: background-size 10s;
}

.suzuki-card:hover{
    background-size: 200%;
}

@media (min-width: 300px) {
    .brands-cards{ grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 600px) {
    .brands-cards{ grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1200px) {
    .brands-cards{ grid-template-columns: repeat(4, 1fr); }
}


/*Spare parts*/
.engine-card{
    background-image: url('../images/home-parts/engine1.jpg');
    background-size: 90%;
    background-position: center;
    transition: background-size 10s;
}

.engine-card:hover{
    background-size: 150%;
}

.brakes-card{
    background-image: url('../images/home-parts/brakes.jpg');
    background-size: 100%;
    background-position: center;

    transition: background-size 10s;
}

.brakes-card:hover{
    background-size: 150%;
}

.interior-card{
    background-image: url('../images/home-parts/interior.jpg');
    background-size: 100%;
    background-position: center;

    transition: background-size 10s;
}

.interior-card:hover{
    background-size: 150%;
}

.exterior-card{
    background-image: url('../images/home-parts/exterior.jpeg');
    background-size: 98%;
    background-position: center;

    transition: background-size 10s;
}

.exterior-card:hover{
    background-size: 150%;
}

.body-card{
    background-image: url('../images/home-parts/lights.jpeg');
    background-size: 100%;
    background-position: center;

    transition: background-size 10s;
}

.body-card:hover{
    background-size: 150%;
}

.tyres-card{
    background-image: url('../images/home-parts/tyres.jpg');
    background-size: 100%;
    background-position: center;

    transition: background-size 10s;
}
.tyres-card:hover{
    background-size: 200%;
}

.oil-card:hover{
    background-size: 150%;
}

.oil-card{
    background-image: url('../images/home-parts/oil.jpg');
    background-size: 100%;
    background-position: center;

    transition: background-size 10s;
}



.audio-card{
    background-image: url('../images/home-parts/video.jpg');
    background-size: 100%;
    background-position: center;

    transition: background-size 10s;
}

.audio-card:hover{
    background-size: 150%;
}


/* footer***************************************************************************************************************** */

.footer-section{
    background-color: #132027;
    border: 2px solid #FDFDFF;
}

.footer-div{
    display: grid;
}

.footer-inner-div {
    height: 300px;
    color: #FDFDFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.social-box{
    width: 100%;
    display: flex;
    justify-content: space-between !important;
}

.footer-logo img{
    height: 80px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.footer-link{
    color: #FDFDFF !important;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-link:hover{
    text-decoration: none;
    color: #62929E !important;
}

.social-logo{
    height: 24px;
    
    transition: filter 0.5s;
}

.social-logo:hover{
    filter: brightness(50%);
}

.contact-label{
    display: flex;
    justify-content:start;
    align-items: flex-start;
    margin-bottom: 6px;
}

.contact-label img{
    margin-right: 10px;
    height: 20px;
}

.contact-label p{
    margin: 0px;
}

.location-label img{
    height: 20px;
}

.footer-div-4 p{
    margin: 0;
}

@media (min-width: 800px) { 
    .footer-div{ grid-template-columns: repeat(4, 1fr); }
} 

@media (max-width: 800px) {
    .footer-div-2{display: none;}
    
    .footer-div{ grid-template-columns: repeat(3, 1fr); }
} 

@media (max-width: 700px){
    .footer-inner-div{height: 180px;}
    .footer-div-2{display: none;}
    .footer-div-4{display: none;}
    .social-box{display:none;}
    .footer-div{ grid-template-columns: repeat(2, 1fr); }
}
