.ad-form-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/slideshow/slideshow3.jpg');
    background-size: auto auto;
    background-position: center;
}

.ad-form-container{
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #132027c0;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.7);
}

.logo-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo-container h1{
    color: #FDFDFF;
}

.logo-container img{
    height: 200px;
}

.form-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ad-form{
    height: 86%;
    width: 90%;
}

.my-form-input{
    display: block;
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    color: #132027;
    letter-spacing: 1px;
    margin: 10px 0;
    outline: none;
    display: inline-block;
    box-sizing: border-box;
}

input[type="file"]{
    cursor: pointer;
    background-color: #FDFDFF;
}

.submit-button{
    margin-top: 20px;
    color: #FDFDFF;
    border: 2px solid #FDFDFF;
    padding: 12px 16px;
    background-color: #62929e00;

    transition: background-color 0.5s;
}

.submit-button:hover{
    background-color: #62929e;

}

.homepage-link{
    width: 92%;
    color: #FDFDFF;
}

.homepage-link:hover{
    color: #FDFDFF;
    text-decoration: none;
}

.home-button-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid #FDFDFF;
    padding: 12px 16px;
    background-color: #62929e00;

    transition: background-color 0.5s;
}

.home-button-container:hover{
    background-color: #62929E;
}

.home-button-container p{
    margin: 0;
}

@media (max-width: 900px) {
    .ad-form-container{grid-template-columns: repeat(1,1fr);}
    .logo-container{display: none;}
    .my-form-input{margin: 8px 0px;}
}