<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Us</title>

        <link rel="stylesheet" type="text/css" href="../static/css/about.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

        <script>
            function checkSession()
                {
                    var obj=(window.localStorage.getItem('usr'));
                    if(obj==null)
                    {
                        console.log(obj)
                       $("#Login").show();
                        $("#signup").show();
                        $("#LogOut").hide();
                    }
                    else
                    {
                        $(document).ready(function(e)
                        {
                            $("#Login").hide();
                            $("#signup").hide();
                            $("#LogOut").show();
                        })
                    }
                }
            function logout(e)
                {
                    e.preventDefault();
                    window.localStorage.clear();
                    $("#Login").show();
                    $("#signup").show();
                    $("#LogOut").hide();
                }
                function login(e)
                {
                    e.preventDefault();
                    window.location='/login?about='+20;
                }
            </script>

        <style>
            body {
                font-family: "Montserrat", sans-serif;
            }
        </style>
    </head>

<body onload="javascript:checkSession()">
    <section id="hero-section" class="hero-section">
        <div class="hero-container">
            <div class="navbar-holder">    
                <div class="navbar-container">
                    <div class="navbar-logo-div">
                        <a href="/"><img src="../static/images/wow-logo-white.png" alt=""></a>
                    </div>
                    <div class="navbar-buttons">
                        <a href="about-us">About</a>
                        <a href="/login" id="Login" onclick="login(event)">Login</a>
                        <a href="/signup" id="signup">Sign up</a>
                        <a href="" id="LogOut" onclick="logout(event)">Log out</a>
                    </div>
                </div>
            </div>
            <div class="about-heading-container container">
                <h2><strong>About Us</strong></h2>
            </div>
        </div>
    </section>
    
    <section class="about-section">
        <div class="about-container">
            <div class="about-text">
                <p>Founded in 2022, Wheelsonwheels.com has become Pakistan’s #1 automotive portal. Since its inception, Wheelsonwheels.com has helped millions of Pakistanis buy & sell automobiles, read automotive reviews and news, check automotive prices and find solutions to all of their automotive needs. Today, Wheelsonwheels.com is the first name that comes to mind if anyone is looking for a solution to their automotive needs.
                    PakWheels.com gets over 25 million visitors annually who view more than 250 million pages on the website. In last year alone, close to 50% of Pakistan’s internet population visited PakWheels.com to buy and sell over 400,000 vehicles. This kind of success has made PakWheels.com a prominent name in the global e-commerce and classifieds sectors and helped raise USD 3.5 million in its first round of funding.
                    PakWheels.com is not only a hub where buyers and sellers can interact, but it is also a comprehensive automotive portal with a forum dedicated to all automotive discussions, a blog that keeps the users up to date with the latest happenings in the auto industry of Pakistan and the world at large. There is also a separate review section for all the cars and bikes available in Pakistan and much more!
                    At Wheelsonwheels.com, we believe that it is our duty to provide our visitors with the best online experience and this is what our mission speaks of - to revolutionize and continuously add value to the way people buy and sell vehicles online, in Pakistan. We aim to provide our users with the most comprehensive automotive knowledge with respect to Pakistan and the world alike and help them develop a sense of belonging in the automotive community. Our motto reflects our vision</p>
            </div>
        </div>
    </section>

    <section class="footer-section">
        <div class="footer-div">
            <div class="footer-inner-div footer-div-1">
                <div class="footer-logo">
                    <img src="../static/images/wow-logo-white.png" alt="logo">
                </div>
            </div>
            <div class="footer-inner-div footer-div-2">
                <div class="footer-links">
                    <a href="/about-us" class="footer-link">About us</a>
                    <a href="/seller-dashboard" class="footer-link">Post an ad</a>
                    <a href="/get-ads" class="footer-link">Cars store</a>
                    <a href="/signup" class="footer-link">Create Account</a>
                    <a href="#" class="footer-link">To the top</a>
                </div>
            </div>
            <div class="footer-inner-div footer-div-3">
                <div class="contact-info">
                    <div class="call">
                        <div class="contact-label">
                            <img src="../static/images/footer/phone.png" alt="">
                            <p>Call</p>
                        </div>
                        <p>048 8989893</p>
                    </div>
                    <div class="email">
                        <div class="contact-label">
                            <img src="../static/images/footer/mail.png" alt="">
                            <p>Email</p>
                        </div>
                        <p>abc123@gmail.com</p>
                    </div>
                    <div class="social-box">
                        <a href="https://www.facebook.com/" class="social-link" target="_blank">
                            <img class="social-logo" src="../static/images/social/facebook.png" alt="facebook-logo">
                        </a>
                        <a href="https://www.instagram.com/" class="social-link" target="_blank">
                            <img class="social-logo" src="../static/images/social/instagram.png" alt="facebook-logo">
                        </a>
                        <a href="https://www.linkedin.com/" class="social-link" target="_blank">
                            <img class="social-logo" src="../static/images/social/linkedin.png" alt="facebook-logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-inner-div footer-div-4">
                <div class="location">
                    <div class=" contact-label">
                        <img src="../static/images/footer/location.png" alt="">
                        <p class="location-label">Location</p>
                    </div>
                    <p>H8-Islamabad,</p>
                    <p>Pakistan</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>