<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About us</title>
	<link rel="stylesheet" type="text/css" href="../static/css/about2.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>
	<section class="Hero-section">
		<div class="parent">
			<div class="child">
				<div class="mynav">
					<div class="navigations">
						<div class="logo"><a href="/"><img src="../static/about-images/wow-logo-white.png"></a></div>
						<div class="nav-buttons">
						<a class="button1" href="/about2">Log In</a>
						<a class="button2" href="/register">Sign Up</a>
						<a class="button3" href="/login">Log In</a>
					</div>
					</div>
				</div>
				<div class="text-head">About Us</div>
		</div>
	</div>
	</section>
	<section class="section2">
		<div class="parent2">
			<div class="about">
				<p style="line-height: 150%;">Founded in 2003, PakWheels.com has become Pakistan’s #1 automotive portal. Since its inception, PakWheels.com has helped millions of Pakistanis buy & sell automobiles, read automotive reviews and news, check automotive prices and find solutions to all of their automotive needs. Today, PakWheels.com is the first name that comes to mind if anyone is looking for a solution to their automotive needs.
				<br>
				PakWheels.com gets over 25 million visitors annually who view more than 250 million pages on the website. In last year alone, close to 50% of Pakistan’s internet population visited PakWheels.com to buy and sell over 400,000 vehicles. 
	
				This kind of success has made PakWheels.com a prominent name in the global e-commerce and classifieds sectors and helped raise USD 3.5 million in its first round of funding. 
				<br>
				PakWheels.com is not only a hub where buyers and sellers can interact, but it is also a comprehensive automotive portal with a forum dedicated to all automotive discussions, a blog that keeps the users up to date with the latest happenings in the auto industry of Pakistan and the world at large. There is also a separate review section for all the cars and bikes available in Pakistan and much more!
				<br>
				At PakWheels.com, we believe that it is our duty to provide our visitors with the best online experience and this is what our mission speaks of - to revolutionize and continuously add value to the way people buy and sell vehicles online, in Pakistan. We aim to provide our users with the most comprehensive automotive knowledge with respect to Pakistan and the world alike and help them develop a sense of belonging in the automotive community. Our motto reflects our vision: 
				<br>
				<div class="punch">“THINK WHEELS, THINK PAKWHEELS!”</div><br>

			<br>
			</p>
			</div>
		</div>
	</section>

	<div class="team-section-parent">
		<div class="team-text">Our team</div>
	</div>
	<section class="section-3">
		<div class="parent3">
			<div class="child3">
				<div class="team1 team">
					<div class="mem-pic"><img src="../static/about-images/sajjad.jpeg" alt="abdullah" width="100%"></div>
					<div class="mem-content">
						<h1>Abdullah Sajjad</h1>
						<p> <b> CEO & Founder</b>
							<br>
							A very cute kinde hearted boy looking for the lady with same attributes.
							<br>
							<a href="bsef20m043@pucit.edu.pk">bsef20m034@pucit.edu.pk</a>
							</p>
					</div>
				</div>
				<div class="team2 team">
					<div class="mem-pic"><img src="../static/about-images/shah.JPG" alt="shah" width="100%"></div>
					<div class="mem-content">
						<h1>Usama Ikram</h1>
						<p> <b> CEO & Founder</b>
							<br>
							Some text that describes me lorem ipsum ipsum lorem.
							<br>
							<a href="bsef20m043@pucit.edu.pk">bsef20m034@pucit.edu.pk</a></p>
					</div>
				</div>
				<div class="team3 team">
					<div class="mem-pic"><img src="../static/about-images/jutt.jpeg" alt="abdulrehman" width="100%"></div>
					<div class="mem-content">
						<h1>Abdulrehman saleem</h1>
						<p> <b> CEO & Founder</b>
							<br>
							Some text that describes me lorem ipsum ipsum lorem.
							<br>
							<a href="bsef20m043@pucit.edu.pk">bsef20m034@pucit.edu.pk</a></p>
					</div>
				</div>
				<div class="team4 team">
					<div class="mem-pic"><img src="../static/about-images/cheema.jpeg" alt="cheema" width="100%" ></div>
					<div class="mem-content">
						<h1>Azlan Naveed Cheema</h1>
						<p><b>CEO & Founder</b>
							<br>
							Some text that describes me lorem ipsum ipsum lorem.
							<br>
							<a href="bsef20m043@pucit.edu.pk">bsef20m034@pucit.edu.pk</a></p>
					</div>
				</div>
				<div class="team5 team">
					<div class="mem-pic"><img src="../static/about-images/civic.jpg" alt="noman" width="100%"></div>
					<div class="mem-content">
						<h1>Noman Manzoor</h1>
						<p> <b> CEO & Founder</b>
							<br>
							Some text that describes me lorem ipsum ipsum lorem.
							<br>
							<a href="bsef20m043@pucit.edu.pk">bsef20m034@pucit.edu.pk</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="footer-section">
        <div class="footer-div">
            <div class="footer-inner-div footer-div-1">
                <div class="footer-logo">
                    <img src="../static/about-images/wow-logo-white.png" alt="logo">
                </div>
            </div>
            <div class="footer-inner-div footer-div-2">
                <div class="footer-links">
                    <a href="#" class="footer-link">About us</a>
                    <a href="#" class="footer-link">Post an ad</a>
                    <a href="#" class="footer-link">Cars store</a>
                    <a href="#" class="footer-link">About us</a>
                    <a href="#" class="footer-link">About us</a>
                </div>
            </div>
            <div class="footer-inner-div footer-div-3">
                <div class="contact-info">
                    <div class="call">
                        <div class="contact-label">
                            <img src="../static/about-images/phone.png" alt="">
                            <p>Call</p>
                        </div>
                        <p>048 8989893</p>
                    </div>
                    <div class="email">
                        <div class="contact-label">
                            <img src="../static/about-images/mail.png" alt="">
                            <p>Email</p>
                        </div>
                        <p>abc123@gmail.com</p>
                    </div>
                    <div class="social-box">
                        <a href="#" class="social-link">
                            <img class="social-logo" src="../static/about-images/facebook.png" alt="facebook-logo">
                        </a>
                        <a href="#" class="social-link">
                            <img class="social-logo" src="../static/about-images/instagram.png" alt="facebook-logo">
                        </a>
                        <a href="#" class="social-link">
                            <img class="social-logo" src="../static/about-images/linkedin.png" alt="facebook-logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-inner-div footer-div-4">
                <div class="location">
                    <div class=" contact-label">
                        <img src="../static/about-images/location.png" alt="">
                        <p class="location-label">Location</p>
                    </div>
                    <p>H8-Islamabad,</p>
                    <p>Pakistan</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>