<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/inspection.css">
    <title>Inspection</title>
</head>
<body>
    <section class="container-section container">
        <div class="inspection-container">
            <div class="container logo-div">
                <img src="../static/images/wow-logo-white.png" alt="">
            </div>
            <div class="inspection-form-div container">
                <form action="/sent-mail" class="inspection-form" method="post">
                    <div class="inspection-form-container container">                   
                    <input type="email"  id="email" name="email" placeholder="Email">                   
                    <input type="number" name="MobileNO" placeholder="Phone Number" >          
                    <input type="text" name="address" placeholder="Address">
                    <input type="date" name="date" placeholder="Date">
                    <input type="submit" value="Submit" name="submit" id="submit" class="button">
                </div>
                </form>
            </div>
        </div>
    </section>  
</body>
</html>