<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>

    <!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

    <!-- Own css -->
	<link rel="stylesheet" type="text/css" href="../static/css/signup.css">

</head>
<body>

    <section class="signup-hero-section">            
        <div class="navbar-holder">    
            <div class="navbar-container">
                <div class="navbar-logo-div">
                    <a href="#"><img src="../static/images/wow-logo-white.png" alt=""></a>
                </div>
                <div class="navbar-buttons">
                    <a href="#">About</a>
                    <a href="./login.html">Login</a>
                    <a href="./signup.html">Sign up</a>
                </div>
            </div>
        </div>
        <div class="signup-hero-container">
            <p>Login</p>
        </div>
    </section>

    <section class="signup-section">
        <div class="signup-container">
            <a class="specific-signup specific-signup-seller" href="/signup-register">
                <div>
                    As a seller
                </div>
            </a>
            <a class="specific-signup specific-signup-buyer" href="#">
                <div>
                    As a buyer
                </div>
            </a>
        </div>
        <div class="login-option">
            <p class="login-option-text">Already Not Registered?</p>
            <a href="./signup.html" class="login">Signup</a>
        </div>
    </section>

    <section class="footer-section">
        <div class="footer-div">
            <div class="footer-inner-div footer-div-1">
                <div class="footer-logo">
                    <img src="../static/images/wow-logo-white.png" alt="logo">
                </div>
            </div>
            <div class="footer-inner-div footer-div-2">
                <div class="footer-links">
                    <a href="#" class="footer-link">About us</a>
                    <a href="#" class="footer-link">Post an ad</a>
                    <a href="#" class="footer-link">Cars store</a>
                    <a href="#" class="footer-link">About us</a>
                    <a href="#" class="footer-link">About us</a>
                </div>
            </div>
            <div class="footer-inner-div footer-div-3">
                <div class="contact-info">
                    <div class="call">
                        <div class="contact-label">
                            <img src="../static/images/footer/phone.png" alt="">
                            <p>Call</p>
                        </div>
                        <p>048 8989893</p>
                    </div>
                    <div class="email">
                        <div class="contact-label">
                            <img src="../static/images/footer/mail.png" alt="">
                            <p>Email</p>
                        </div>
                        <p>abc123@gmail.com</p>
                    </div>
                    <div class="social-box">
                        <a href="#" class="social-link">
                            <img class="social-logo" src="../static/images/social/facebook.png" alt="facebook-logo">
                        </a>
                        <a href="#" class="social-link">
                            <img class="social-logo" src="../static/images/social/instagram.png" alt="facebook-logo">
                        </a>
                        <a href="#" class="social-link">
                            <img class="social-logo" src="../static/images/social/linkedin.png" alt="facebook-logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-inner-div footer-div-4">
                <div class="location">
                    <div class=" contact-label">
                        <img src="../static/images/footer/location.png" alt="">
                        <p class="location-label">Location</p>
                    </div>
                    <p>H8-Islamabad,</p>
                    <p>Pakistan</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>