<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>

    <!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

    <!-- Own css -->
    <link rel="stylesheet" type="text/css" href="../static/css/signup.css">
</head>
<body>
    <section class="container login-section">
        <div class="login-container">
            <div class="container logo-div">
                <img src="../static/images/wow-logo-white.png" alt="">
            </div>
            <div class="container login-form-div">
                <form class="login-form" action="/action_page.php" method="post">
                     <div class="container login-form-container">
                        <input class="input-tag" type="username" placeholder="username" name="uname" required>
                        <select name="uname" id="users">
                            <option value="seller">Seller</option>
                            <option value="buyer">Buyer</option>
                        </select>
                        <input class="input-tag" type="email" placeholder="email" name="email" required>
                        <input class="input-tag" type="password" placeholder="password" name="password" required>
                        <input class="input-tag" type="password" placeholder="password2" name="password2" required>
                        <input class="button input-button" type="submit" value="Signup">
                    </div>
                </form>
                <div class="container signup-option">
                    <p class="signup-text">Already an account</p>
                    <a href="/login" class="button signup-button">Login</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>